<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }} &larr; {{ site.title }}</title>
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% endif %}
  <meta name="author" content="{{ site.author.name }}" />

  <link rel="start" href="{{ HOME_PATH }}" />

  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}

  {% if site.author.feedburner %}
    <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/{{ site.author.feedburner }}" title="RSS feed" />
  {% endif %}
  {% if page.feed %}
    <link rel="alternate" type="application/atom+xml" href="{{ page.feed }}" title="RSS feed" />
  {% endif %}

  <!-- Enable responsive viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <!-- Optional Bootstrap theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript, requires jQuery 1.x (2.x not supported in IE8) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <!-- Latest compiled and minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <!-- Normal/Custom CSS -->
  <link rel="stylesheet" href="{{ ASSET_PATH }}/css/screen.css" type="text/css" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="shortcut icon" href="{{ ASSET_PATH }}/images/favicon.ico">
  <link rel="icon" sizes="180x180" href="{{ ASSET_PATH }}/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" href="{{ ASSET_PATH }}/images/apple-touch-icon.png">
</head>
<body id="{{ page.section }}">

  {% include JB/analytics %}

  <div id="site">

    <div class="container" id="header">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <h1 class="logo">
            <a href="{{ HOME_PATH }}" title="{{ site.title }}">
              <img src="{{ ASSET_PATH }}/images/logo_250.png" srcset="{{ ASSET_PATH }}/images/logo_250.png 1x, {{ ASSET_PATH }}/images/logo_500.png 2x" />
            </a>
          </h1>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
          <div class="tagline">ACCELERATING TRANSLATION OF NEUROSCIENCE DISCOVERIES INTO BENEFITS FOR PATIENTS</div>
          <nav class="navbar" role="navigation">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                  <li><a class="home" href="{{ HOME_PATH }}">Home</a></li>
                  <li><a  href="{{site.url}}/apply">Apply</a></li>
                  <li><a  href="{{site.url}}/about">About</a></li>
                  <li><a  href="{{site.url}}/interests">Areas of Interest</a></li>
                  <li><a  href="{{site.url}}/faq">Frequently Asked Questions</a></li>
                  <li><a  href="{{site.url}}/news">News & Events</a></li>
                  <li><a  href="{{site.url}}/partners">Partners</a></li>
                  <li><a  href="{{site.url}}/contact">Contact</a></li>
                </ul>
              </div>
          </nav>
        </div>
      </div>
    </div>

    {{ content }}

    <div class="container" id="footer">
      <div class="row logos">
        <div class="col-xs-12 col-sm-4">
          <a href="http://www.collaborativedrugresearch.ca" target="_blank"><img src="{{ ASSET_PATH }}/images/UTC_150.png" srcset="{{ ASSET_PATH }}/images/UTC_150.png 1x, {{ ASSET_PATH }}/images/UTC_300.png 2x" /></a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a href="http://www.janssen.ca" target="_blank"><img src="{{ ASSET_PATH }}/images/Janssen_150.png" srcset="{{ ASSET_PATH }}/images/Janssen_150.png 1x, {{ ASSET_PATH }}/images/Janssen_300.png 2x" /></a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a href="http://www.jnjinnovation.com" target="_blank"><img src="{{ ASSET_PATH }}/images/JandJ_150.png" srcset="{{ ASSET_PATH }}/images/JandJ_150.png 1x, {{ ASSET_PATH }}/images/JandJ_300.png 2x" /></a>
        </div>
      </div>
      <div class="row legal">
        <div class="col-xs-12">
          &copy; 2015 Janssen Inc.
          &#8226;
          <a href="http://www.janssen.ca/privacy-policy" target="_blank">Privacy</a>
          &#8226;
          <a href="http://www.janssen.ca/legal-notice" target="_blank">Terms of Use</a>
        </div>
      </div>
    </div>

  </div>
</body>
</html>
